<div class="transactions-container">
<nav class='navbar'>
  <ul class="signup-ul">
    <li>
      <a href="/categories" class="back-arrow"><i class="fa fa-arrow-left"></i></a>
    </li>
    <li>
      <h2>TRANSACTIONS</h2>
    </li>
    <li class="actions">
      <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "submit-signup" %>
    </li>
  </ul>
</nav>
<p style="color: green"><%= notice %></p>
<div class="card-container">
 <% if @category.transactions.any? %>

  <% @category.transactions.each do |t| %>
    <ul class="card-ul">
      <div class="image-description-container">
      <li class="card">
        <img src="<%= @category.icon %>" class="icon-img" alt="icon of <%= @category.name %>", width="100px", height="80px" />
      </li>
      <li class="card">
        <p class="transaction-name"><%= t.name%></p><br>
        <p class="transaction-date"><%= t.created_at.strftime("%d-%b-%Y")  %></p>
      </li>
      </div>
      <li class="card">
        <p class="transaction-amount">$<%= t.amount %></p>
      </li>
    </ul>
  <% end %>
  <% else %>
    <p class="none">No Transactions Yet. Please Add A Transaction</p>
  <% end %>
</div>

<%= link_to "Add transaction",  "/categories/#{@category.id}/transactions/new", class:"add-transaction" %>

<%# <%= @category.transactions.sum(:amount) %> 
</div>