<%= form_with url: "/categories/#{@category.id}/transactions" do |form| %>
  <% if transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: current_user.id %>
  <div class="m-5 mb-3">
    <%= form.text_field :name,required: true, class:"p-2 form-control", placeholder: "Name", id: "name"%><br>
  </div>
  <div class="m-5 mb-3">
    <%=form.text_field :category, value:@category.name, class:"p-2 form-control"%><br>
  </div>
  <div class="m-5 mb-3">
    <%= form.number_field :amount ,  class:"p-2 form-control" , required: true, placeholder: 'Amount',  min: 1, id:"amount"%><br>
  </div>
    <%= form.submit "Create Transaction", class:"btn btn-primary form-control" %>

<% end %>
